<div class="modal-body">
    @using (Ajax.BeginForm("Delete", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div_tabla", OnComplete = "close_modal" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("¿Borrar elemento?")
                <div class="col-md-10">
                    @Html.Hidden("delete", true)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="No" class="btn btn-default" onclick="close_modal()" />
                    <input type="submit" value="Yes" class="btn btn-danger"  />
                </div>
            </div>
        </div>
    }
</div>
